<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anipr.stampitgo.android"
    android:installLocation="auto"
    android:versionCode="6"
    android:versionName="1.0.01" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Stampitgo"
        android:largeHeap="true"
        android:logo="@drawable/stampitgo_white_icon"
        android:theme="@style/Theme.Stampitgo" >
        <service
            android:name="main.java.com.mindscapehq.android.raygun4android.RaygunPostService"
            android:exported="false"
            android:process=":raygunpostservice" />

        <meta-data
            android:name="com.mindscapehq.android.raygun4android.apikey"
            android:value="3kl8yo6RHgZz6XEQ8+OR8Q==" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <!-- Google Analytics Version v4 needs this value for easy tracking -->
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".GcmIntentService" />

        <activity android:name="com.mixpanel.android.surveys.SurveyActivity" />
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Stampitgo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.android.slidingtabsbasic.RegularOffers"
            android:label="@string/title_activity_offers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ScanResponse"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_scan_response"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RedeemReward"
            android:label="@string/title_activity_redeem_reward"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Notifications"
            android:label="@string/title_activity_notifications"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.android.slidingtabsbasic.RestaurantDetails"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GetStarted"
            android:label="Stampitgo"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="test.stampitgo.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".Profile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ShoutOut"
            android:label="@string/title_activity_shout_out"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".PromoCode"
            android:label="@string/title_activity_promo_code" >
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:label="@string/title_activity_forgot_password" >
        </activity>

        <receiver android:name="anipr.stampitgo.android.StampsFragment$MyStampsUpdate" >
            <intent-filter>
                <action android:name="com.stampitgo.stampsupdate" />
            </intent-filter>
        </receiver>
        <receiver android:name="anipr.stampitgo.android.Rewards$RewardsUpdate" >
            <intent-filter>
                <action android:name="com.stampitgo.rewards_update" />
            </intent-filter>
        </receiver>
        <receiver android:name="anipr.stampitgo.android.MainActivity.LayoutDrawBroadcastReciever" >
            <intent-filter>
                <action android:name="com.stampitgo.layoutdrawcomplete" />
            </intent-filter>
        </receiver>
    </application>

</manifest>